<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pandasushi.pandacourierv2">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="ua.com.pandasushi.pandacourierv2.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ua.com.pandasushi.pandacourierv2.activities.OrdersActivity" />
        <activity android:name="ua.com.pandasushi.pandacourierv2.activities.ChooseMapActivity" />
        <activity android:name="ua.com.pandasushi.pandacourierv2.activities.OdometerInfoActivity"/>

        <service android:name="ua.com.pandasushi.pandacourierv2.services.TrackWritingService"
            android:enabled="true"/>

        <receiver
            android:name="ua.com.pandasushi.pandacourierv2.services.TrackWritingRestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="RestartTrackWritingService"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>